@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");
@keyframes ripple {
  0% {
    transform: scale(1); }
  75% {
    transform: scale(1.75);
    opacity: 1; }
  100% {
    transform: scale(2);
    opacity: 0; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

html, body {
  scroll-behavior: smooth; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

body {
  font-family: "Source Serif 4", serif;
  font-weight: 500;
  font-size: 16px;
  color: #373435; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Serif 4", serif; }

.hero-primary-heading {
  text-transform: uppercase;
  font-size: 72px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
  line-height: 1; }
  @media only screen and (max-width: 992px) {
    .hero-primary-heading {
      font-size: 48px; } }
  @media only screen and (max-width: 768px) {
    .hero-primary-heading {
      font-size: 36px; } }
  @media only screen and (max-width: 575px) {
    .hero-primary-heading {
      font-size: 30px; } }
  @media screen and (min-width: 1399.9px) {
    .hero-primary-heading {
      font-size: 67px; } }

.hero-secondary-heading {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
  line-height: 1;
  display: block; }
  @media only screen and (max-width: 992px) {
    .hero-secondary-heading {
      font-size: 24px; } }
  @media only screen and (max-width: 768px) {
    .hero-secondary-heading {
      font-size: 22px; } }
  @media only screen and (max-width: 575px) {
    .hero-secondary-heading {
      font-size: 18px; } }

.heading-primary {
  line-height: 1.25em;
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 700;
  color: #004ea3; }
  .heading-primary span {
    color: #373435; }
  @media only screen and (max-width: 992px) {
    .heading-primary {
      margin-bottom: 40px;
      font-size: 36px; } }
  @media only screen and (max-width: 768px) {
    .heading-primary {
      margin-bottom: 30px;
      font-size: 30px; } }
  @media only screen and (max-width: 575px) {
    .heading-primary {
      margin-bottom: 30px;
      font-size: 24px; } }

.heading-secondary {
  line-height: 1.25em;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 700;
  color: #004ea3; }

.heading-tertiary {
  line-height: 1.25em;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
  text-transform: capitalize;
  color: #004ea3; }

.heading-four {
  line-height: 1.25em;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase; }

.heading-five {
  line-height: 1.25em;
  margin-bottom: 20px;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  color: #373435; }

.heading-six {
  line-height: 1.25em;
  margin-bottom: 20px;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  color: #373435; }

.content-para p,
.content-para li {
  font-size: 16px;
  line-height: 30px;
  font-weight: normal; }
  .content-para p:last-child,
  .content-para li:last-child {
    margin-bottom: 0; }
  @media only screen and (max-width: 992px) {
    .content-para p,
    .content-para li {
      font-size: 16px;
      line-height: 1.7; } }
  @media only screen and (max-width: 768px) {
    .content-para p,
    .content-para li {
      font-size: 14px;
      line-height: 1.7; } }

.mr-bottom {
  margin-bottom: 7rem; }
  @media only screen and (max-width: 992px) {
    .mr-bottom {
      margin-bottom: 5rem; } }
  @media only screen and (max-width: 768px) {
    .mr-bottom {
      margin-bottom: 3rem; } }

.mr-top {
  margin-top: 7rem; }
  @media only screen and (max-width: 992px) {
    .mr-top {
      margin-top: 5rem; } }
  @media only screen and (max-width: 768px) {
    .mr-top {
      margin-top: 3rem; } }

.p-bottom {
  padding-bottom: 7rem; }
  @media only screen and (max-width: 992px) {
    .p-bottom {
      padding-bottom: 5rem; } }
  @media only screen and (max-width: 768px) {
    .p-bottom {
      padding-bottom: 3rem; } }

.p-top {
  padding-top: 7rem; }
  @media only screen and (max-width: 992px) {
    .p-top {
      padding-top: 5rem; } }
  @media only screen and (max-width: 768px) {
    .p-top {
      padding-top: 3rem; } }

.space-one {
  height: 40px; }

@media screen and (max-width: 575px) {
  .primary-list {
    padding: 0;
    margin-left: 4rem; } }

.primary-list li {
  position: relative; }
  .primary-list li:before {
    content: "";
    background-image: url("../images/check.png");
    background-size: cover;
    position: absolute;
    top: 15px;
    left: -30px;
    width: 20px;
    height: 20px;
    transform: translateY(-50%); }

.single-hero-section {
  min-height: 30rem;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-content: center; }
  .single-hero-section::before {
    content: "";
    background: rgba(0, 78, 163, 0.7);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
  .single-hero-section .container {
    position: relative;
    text-align: center;
    z-index: 1; }
    .single-hero-section .container h1 {
      font-size: 48px;
      font-weight: 700;
      color: white;
      text-transform: uppercase;
      text-align: left;
      display: inline-flex;
      align-items: center;
      height: 100%; }

.inner-hero-section .inner-section-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  min-height: 30rem; }
  .inner-hero-section .inner-section-grid .inner-section-grid-item {
    height: 100%; }
    .inner-hero-section .inner-section-grid .inner-section-grid-item:first-child {
      background: #004ea3; }
      .inner-hero-section .inner-section-grid .inner-section-grid-item:first-child .heading-wrapper {
        margin-left: auto;
        height: 100%; }
        @media screen and (min-width: 992px) and (max-width: 1199.9px) {
          .inner-hero-section .inner-section-grid .inner-section-grid-item:first-child .heading-wrapper {
            max-width: 48rem; } }
        @media screen and (min-width: 1200px) and (max-width: 1399.9px) {
          .inner-hero-section .inner-section-grid .inner-section-grid-item:first-child .heading-wrapper {
            max-width: 57rem; } }
        @media screen and (min-width: 1400px) {
          .inner-hero-section .inner-section-grid .inner-section-grid-item:first-child .heading-wrapper {
            max-width: 66rem; } }
        .inner-hero-section .inner-section-grid .inner-section-grid-item:first-child .heading-wrapper h1 {
          font-size: 48px;
          font-weight: 700;
          color: white;
          text-transform: uppercase;
          text-align: left;
          display: inline-flex;
          align-items: center;
          height: 100%; }
    .inner-hero-section .inner-section-grid .inner-section-grid-item img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center; }

.inner-hero-section:hover::before {
  opacity: 0; }

.inner-hero-section .container {
  position: relative; }

.blockquote {
  padding: 1.5rem 3rem;
  font-size: 20px;
  border-radius: 0 0 0 0;
  border-left: 4px solid #ffffff;
  color: white;
  display: flex;
  flex-direction: column; }
  .blockquote em {
    font-size: 1.6rem;
    text-align: right; }
  .blockquote strong {
    display: block;
    margin-top: 2rem; }

.owl-nav {
  display: flex;
  justify-content: flex-end;
  gap: 5px; }
  .owl-nav button {
    background: #004ea3 !important;
    border: 1px solid #004ea3 !important;
    height: 3rem;
    width: 3rem; }
    .owl-nav button i {
      color: white; }

.external-link {
  color: #004ea3;
  font-size: 1.8rem;
  margin-top: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  display: inline-block; }

.primary-listing {
  margin: 0; }
  .primary-listing li {
    position: relative;
    list-style: none; }
    .primary-listing li:not(:last-child) {
      margin-bottom: 7.4px; }
    .primary-listing li::before {
      content: "";
      background: #004ea3;
      position: absolute;
      width: 13px;
      height: 13px;
      top: 5px;
      left: -25px;
      border-radius: 50%;
      outline: 1px solid #004ea3;
      border: 2px solid #ffffff; }

.global-btn-one {
  font-size: 15px;
  padding: 10px 24px;
  line-height: 1;
  text-transform: capitalize;
  border: 1.9px solid #ffffff;
  color: #ffffff;
  transition: 0.4s ease;
  border-radius: 30px; }
  .global-btn-one:hover {
    color: #004ea3;
    background: #ffffff !important; }

.global-btn-two {
  font-size: 15px;
  padding: 10px 24px;
  line-height: 1;
  text-transform: capitalize;
  border: 1.9px solid #0384c8 !important;
  background: #0384c8;
  color: #ffffff;
  transition: 0.4s ease;
  display: inline-block;
  border-radius: 30px; }
  .global-btn-two:hover {
    color: #0384c8;
    background: transparent; }

.global-btn-three {
  font-size: 15px;
  padding: 10px;
  line-height: 1;
  text-transform: capitalize;
  border: 1.9px solid #0384c8 !important;
  background: #0384c8;
  color: #ffffff;
  transition: 0.4s ease;
  display: inline-block;
  border-radius: 0 20px 20px 0; }
  .global-btn-three:hover {
    color: #ffffff;
    background: #ef1d26;
    border-color: #ef1d26 !important; }

footer {
  padding: 7rem 0;
  background: #231f1f; }
  @media only screen and (max-width: 992px) {
    footer {
      padding: 5rem 0; } }
  @media only screen and (max-width: 768px) {
    footer {
      padding: 3rem 0; } }
  footer .footer-widget {
    font-size: 2rem;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    display: inline-block; }
  footer ul li {
    color: white;
    font-weight: normal; }
    footer ul li:not(:last-child) {
      padding-bottom: 1rem; }
    footer ul li a {
      color: white; }
    footer ul li i {
      color: white;
      font-size: 2rem;
      margin-right: 0.5rem; }
  footer p {
    color: white;
    font-weight: normal; }
  footer .subscription-form {
    display: flex;
    margin-top: 2rem; }
    @media only screen and (max-width: 1200px) {
      footer .subscription-form {
        flex-direction: column;
        gap: 1rem; } }
    footer .subscription-form input {
      font-size: 15px;
      padding: 10px 24px;
      line-height: 1;
      height: 40px;
      border-radius: 20px 0px 0px 20px; }
      @media only screen and (max-width: 1200px) {
        footer .subscription-form input {
          border-radius: 20px; } }
      @media only screen and (min-width: 1200.1px) {
        footer .subscription-form input {
          width: calc(100% - 150px); } }
      footer .subscription-form input:hover {
        box-shadow: none;
        border: none; }
    footer .subscription-form button {
      height: 40px; }
      @media only screen and (min-width: 1200.1px) {
        footer .subscription-form button {
          width: 150px; } }
      @media only screen and (max-width: 1200px) {
        footer .subscription-form button {
          border-radius: 20px; } }
  footer .useful-links li {
    position: relative; }
    footer .useful-links li::before {
      content: "\f054";
      position: absolute;
      left: -15px;
      top: 7px;
      font-weight: 900;
      font-family: "Font Awesome 6 Free";
      font-size: 8px; }

.copyright {
  background: #000;
  padding: 15px 0;
  text-align: center; }
  .copyright p {
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 0; }

@media only screen and (min-width: 768.1px) {
  .whatspapp-on-mobile {
    display: none; } }

@media only screen and (max-width: 768px) {
  .whatspapp-on-mobile {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 9; }
    .whatspapp-on-mobile a img {
      width: 5rem;
      height: auto; } }

@media only screen and (max-width: 992px) {
  header .desktop-header {
    display: none; } }

header .desktop-header .top-header {
  background: #ffffff;
  padding: 10px 0; }
  header .desktop-header .top-header .top-head-grid {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative; }
    header .desktop-header .top-header .top-head-grid::before {
      content: "";
      background: #373435;
      position: absolute;
      right: 0;
      bottom: -2rem;
      width: 82%;
      height: 1px; }
  header .desktop-header .top-header .social-media {
    color: #373435;
    display: inline-flex;
    padding-left: 3rem; }
    @media screen and (max-width: 970px) {
      header .desktop-header .top-header .social-media {
        width: 100%;
        justify-content: center; } }
    @media screen and (max-width: 970px) {
      header .desktop-header .top-header .social-media span {
        display: none; } }
    header .desktop-header .top-header .social-media ul {
      margin-bottom: 0; }
      @media screen and (max-width: 970px) {
        header .desktop-header .top-header .social-media ul {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          padding: 0; }
          header .desktop-header .top-header .social-media ul li {
            flex: 0 0 calc(100% / 4);
            max-width: calc(100% / 4); }
            header .desktop-header .top-header .social-media ul li:nth-child(1) {
              background: #e96651; }
            header .desktop-header .top-header .social-media ul li:nth-child(2) {
              background: #7acdee; }
            header .desktop-header .top-header .social-media ul li:nth-child(3) {
              background: #557dbc; }
            header .desktop-header .top-header .social-media ul li:nth-child(4) {
              background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); }
            header .desktop-header .top-header .social-media ul li a {
              display: block;
              text-align: center;
              padding: 10px 0; } }
      @media screen and (max-width: 970px) and (min-width: 359px) {
        header .desktop-header .top-header .social-media ul {
          width: 30rem; } }
      @media screen and (max-width: 358.9px) {
        header .desktop-header .top-header .social-media ul {
          width: calc(100% - 15px); } }
      header .desktop-header .top-header .social-media ul li {
        display: inline-block;
        line-height: 1; }
        header .desktop-header .top-header .social-media ul li:not(:last-child) {
          padding-right: 2rem; }
        header .desktop-header .top-header .social-media ul li a {
          color: #373435; }
          header .desktop-header .top-header .social-media ul li a i {
            font-size: 20px; }
  @media screen and (min-width: 970.1px) {
    header .desktop-header .top-header .top-navigation {
      text-align: right; } }
  header .desktop-header .top-header .top-navigation ul {
    margin-bottom: 0;
    padding-left: 0; }
    header .desktop-header .top-header .top-navigation ul li {
      display: inline-block;
      line-height: 1; }
      header .desktop-header .top-header .top-navigation ul li:not(:last-child) {
        padding-right: 8px;
        margin-right: 8px;
        border-right: 1px solid rgba(55, 52, 53, 0.5); }
      header .desktop-header .top-header .top-navigation ul li a {
        color: #373435;
        text-transform: capitalize;
        font-size: 14px; }
        header .desktop-header .top-header .top-navigation ul li a.dropdown-toggle::after {
          content: "\f078";
          display: inline-block;
          font: normal normal normal 14px / 1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          border-top: none;
          font-size: 10px;
          vertical-align: 2px; }
        header .desktop-header .top-header .top-navigation ul li a + .dropdown-menu {
          display: block;
          opacity: 0;
          visibility: hidden;
          transform: translateY(-10%);
          transition: 0.4s ease;
          border-left: none;
          border-right: none;
          border-bottom: none;
          border-top: 3px solid #004ea3;
          box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
          border-radius: 0 0 15px 15px; }
        @media only screen and (min-width: 1200.1px) {
          header .desktop-header .top-header .top-navigation ul li a {
            font-size: 16px; } }
      header .desktop-header .top-header .top-navigation ul li:hover .dropdown-menu {
        opacity: 1;
        visibility: visible;
        transform: none;
        margin-top: 0; }

@media only screen and (min-width: 992.1px) {
  header .desktop-header .navbar {
    height: 10rem; } }

@media only screen and (max-width: 992px) {
  header .desktop-header .navbar {
    position: fixed;
    z-index: 1050; }
    header .desktop-header .navbar .navbar-collapse {
      position: fixed;
      top: 0;
      background: #004ea3;
      height: calc(100vh);
      box-shadow: rgba(55, 52, 53, 0.25) 0px 25px 50px -12px;
      width: 28rem;
      transform: translateX(-100%);
      left: 0;
      padding: 20px;
      overflow: hidden; } }
    @media only screen and (max-width: 992px) and (max-width: 29rem) {
      header .desktop-header .navbar .navbar-collapse {
        width: 80%; } }

@media only screen and (max-width: 992px) {
      header .desktop-header .navbar .navbar-collapse.show {
        transform: translateX(0); }
      header .desktop-header .navbar .navbar-collapse .navbar-nav {
        overflow: auto;
        height: 100%; } }

header .desktop-header .navbar .navbar-toggler {
  padding: 0;
  border: none; }

@media only screen and (min-width: 992.1px) {
  header .desktop-header .navbar .navbar-brand img {
    width: 16rem;
    position: absolute;
    top: -30px; } }

header .desktop-header .navbar i.fa-solid.fa-bars {
  font-size: 2rem;
  color: #ffffff; }
  @media only screen and (max-width: 992px) {
    header .desktop-header .navbar i.fa-solid.fa-bars {
      color: #373435; } }

header .desktop-header .navbar .navbar-toggler:focus {
  border: none !important;
  box-shadow: none; }

@media only screen and (min-width: 992.1px) {
  header .desktop-header .navbar .navbar-nav {
    align-items: center; } }

header .desktop-header .navbar .navbar-nav .nav-item:not(:last-child) {
  padding-right: 1rem; }
  @media screen and (min-width: 1400px) {
    header .desktop-header .navbar .navbar-nav .nav-item:not(:last-child) {
      padding-right: 2rem; } }
  @media screen and (min-width: 992px) and (max-width: 1199.9px) {
    header .desktop-header .navbar .navbar-nav .nav-item:not(:last-child) {
      padding-right: 0; } }
  @media screen and (max-width: 991.9px) {
    header .desktop-header .navbar .navbar-nav .nav-item:not(:last-child) {
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      margin-bottom: 1rem;
      padding-bottom: 1rem; } }

header .desktop-header .navbar .navbar-nav .nav-item a {
  font-weight: 500;
  color: #373435;
  font-size: 16px; }
  @media only screen and (min-width: 1200.1px) {
    header .desktop-header .navbar .navbar-nav .nav-item a {
      font-size: 20px; } }
  @media screen and (min-width: 1400px) {
    header .desktop-header .navbar .navbar-nav .nav-item a {
      font-size: 22px; } }

header .desktop-header .navbar .navbar-nav .nav-item .global-btn-two {
  color: white;
  text-transform: uppercase; }
  header .desktop-header .navbar .navbar-nav .nav-item .global-btn-two:hover {
    color: #0384c8; }

header .desktop-header .navbar .dropdown > a::after {
  content: "\f078";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  border-top: none;
  font-size: 10px;
  vertical-align: 2px; }

header .desktop-header .navbar .dropdown .dropdown-menu {
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: 3px solid #004ea3;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  border-radius: 0 0 15px 15px; }
  @media only screen and (max-width: 992px) {
    header .desktop-header .navbar .dropdown .dropdown-menu {
      display: block;
      position: static;
      padding: 0 30px; } }
  header .desktop-header .navbar .dropdown .dropdown-menu li:not(:last-child) {
    padding: 3px 0;
    margin: 3px 5px;
    border-bottom: 1px solid rgba(0, 78, 163, 0.2); }
  header .desktop-header .navbar .dropdown .dropdown-menu li a {
    text-transform: none; }
    header .desktop-header .navbar .dropdown .dropdown-menu li a:active {
      background-color: #0384c8 !important;
      color: white !important; }

header .desktop-header .navbar .dropdown .dropdown .dropdown-menu {
  display: none;
  transition: 0.4s ease; }

header .desktop-header .navbar .dropdown .dropdown:hover .dropdown-menu {
  display: block; }

@media only screen and (min-width: 992.1px) {
  header .desktop-header .navbar .dropdown .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10%);
    transition: 0.4s ease; }
  header .desktop-header .navbar .dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: none;
    margin-top: 0; } }

header .desktop-header .navbar.fixed-top {
  top: -40px;
  transform: translateY(40px);
  transition: transform .3s;
  background: #ffffff;
  position: fixed !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height: auto; }
  header .desktop-header .navbar.fixed-top .nav-link {
    color: #373435 !important; }
  header .desktop-header .navbar.fixed-top .navbar-brand img {
    width: 9rem;
    position: static; }

@media only screen and (min-width: 992.1px) {
  header .desktop-header .navbar a.navbar-brand.for-mobile {
    display: none; } }

@media only screen and (min-width: 992.1px) {
  header .mobile-header {
    display: none; } }

header .mobile-header .navbar {
  background: white;
  width: 100%; }
  @media only screen and (max-width: 992px) {
    header .mobile-header .navbar .navbar-collapse {
      position: fixed;
      top: 0;
      background: #ffffff;
      height: calc(100vh);
      box-shadow: rgba(55, 52, 53, 0.25) 0px 25px 50px -12px;
      width: 28rem;
      z-index: 9;
      transform: translateX(-100%);
      left: 0;
      padding: 20px;
      overflow: hidden; } }
  @media only screen and (max-width: 992px) and (max-width: 29rem) {
    header .mobile-header .navbar .navbar-collapse {
      width: 80%; } }
  @media only screen and (max-width: 992px) {
      header .mobile-header .navbar .navbar-collapse.show {
        transform: translateX(0); }
      header .mobile-header .navbar .navbar-collapse .navbar-nav {
        overflow: auto;
        height: 100%; } }
  header .mobile-header .navbar .navbar-toggler {
    padding: 0;
    border: none; }
  header .mobile-header .navbar .navbar-brand img {
    width: 12.20rem; }
  header .mobile-header .navbar i.fa-solid.fa-bars {
    font-size: 2rem;
    color: #ffffff; }
    @media only screen and (max-width: 992px) {
      header .mobile-header .navbar i.fa-solid.fa-bars {
        color: #373435; } }
  header .mobile-header .navbar .navbar-toggler:focus {
    border: none !important;
    box-shadow: none; }
  header .mobile-header .navbar .navbar-nav {
    margin-top: 3rem; }
    @media only screen and (min-width: 992.1px) {
      header .mobile-header .navbar .navbar-nav {
        align-items: center; } }
    header .mobile-header .navbar .navbar-nav .nav-item:not(:last-child) {
      padding-right: 2rem; }
      @media screen and (max-width: 991.9px) {
        header .mobile-header .navbar .navbar-nav .nav-item:not(:last-child) {
          border-bottom: 1px solid rgba(255, 255, 255, 0.5);
          margin-bottom: 1rem;
          padding-bottom: 1rem; } }
    header .mobile-header .navbar .navbar-nav .nav-item a {
      font-weight: 500;
      color: #373435;
      font-size: 15px; }
    header .mobile-header .navbar .navbar-nav .nav-item .global-btn-two {
      color: white;
      text-transform: uppercase; }
      header .mobile-header .navbar .navbar-nav .nav-item .global-btn-two:hover {
        color: #0384c8; }
  header .mobile-header .navbar .dropdown > a::after {
    content: "\f078";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    border-top: none;
    font-size: 10px;
    vertical-align: 2px; }
  header .mobile-header .navbar .dropdown .dropdown-menu {
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: 3px solid #004ea3;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    border-radius: 0 0 15px 15px; }
    @media only screen and (min-width: 992.1px) {
      header .mobile-header .navbar .dropdown .dropdown-menu {
        display: block;
        position: static;
        padding: 0 30px; } }
    header .mobile-header .navbar .dropdown .dropdown-menu li:not(:last-child) {
      padding: 3px 0;
      margin: 3px 5px;
      border-bottom: 1px solid rgba(0, 78, 163, 0.2); }
    header .mobile-header .navbar .dropdown .dropdown-menu li a {
      text-transform: none; }
  @media screen and (max-width: 992) {
    header .mobile-header .navbar .dropdown .dropdown .dropdown-menu {
      display: none;
      transition: 0.4s ease; }
    header .mobile-header .navbar .dropdown .dropdown:hover .dropdown-menu {
      display: block; } }
  @media only screen and (min-width: 992.1px) {
    header .mobile-header .navbar .dropdown .dropdown-menu {
      display: block;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-10%);
      transition: 0.4s ease; }
    header .mobile-header .navbar .dropdown:hover .dropdown-menu {
      opacity: 1;
      visibility: visible;
      transform: none;
      margin-top: 0; } }
  header .mobile-header .navbar.fixed-top {
    top: -40px;
    transform: translateY(40px);
    transition: transform .3s;
    background: #ffffff;
    position: fixed !important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; }
    header .mobile-header .navbar.fixed-top .nav-link {
      color: #373435 !important; }
    header .mobile-header .navbar.fixed-top .navbar-brand img {
      width: 15rem; }
  @media only screen and (min-width: 992.1px) {
    header .mobile-header .navbar a.navbar-brand.for-mobile {
      display: none; } }

.hero-section {
  height: 586px;
  overflow: hidden;
  position: relative;
  background: #001843; }
  .hero-section .top-one,
  .hero-section .bottom-one {
    position: absolute;
    background: #0384c8;
    width: 45rem;
    height: 45rem; }
  .hero-section .top-one {
    top: -65%;
    left: 53.4%;
    transform: rotate(45deg) translate(-12%, 50%);
    border-radius: 0 0 7rem 0; }
  .hero-section .bottom-one {
    bottom: -75%;
    left: 52%;
    transform: rotate(45deg) translate(-56%, 0);
    border-radius: 7rem 0 0 0; }
  .hero-section .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.15;
    z-index: 0;
    overflow: hidden; }
    .hero-section .bg-video__content {
      height: 100%;
      width: 100%;
      object-fit: cover; }
    .hero-section .bg-video img {
      width: 100%;
      height: 100%; }
  .hero-section .education-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center; }
    .hero-section .education-grid .education-grid-items:last-child {
      padding-left: 20rem; }
    .hero-section .education-grid .education-grid-items:first-child .education-content {
      margin-left: auto; }
      .hero-section .education-grid .education-grid-items:first-child .education-content .content-para {
        margin-top: 3rem; }
        @media only screen and (min-width: 992.1px) {
          .hero-section .education-grid .education-grid-items:first-child .education-content .content-para p {
            font-size: 2rem;
            padding-right: 9rem; } }
      .hero-section .education-grid .education-grid-items:first-child .education-content h6 {
        padding: 0.8rem 1.2rem;
        margin-top: 1.5rem;
        border-bottom: 1px solid #ffffff;
        border-top: 1px solid #ffffff;
        display: inline-block; }
      @media screen and (min-width: 992px) and (max-width: 1199.9px) {
        .hero-section .education-grid .education-grid-items:first-child .education-content {
          max-width: 48rem; } }
      @media screen and (min-width: 1200px) and (max-width: 1399.9px) {
        .hero-section .education-grid .education-grid-items:first-child .education-content {
          max-width: 57rem; } }
      @media screen and (min-width: 1400px) {
        .hero-section .education-grid .education-grid-items:first-child .education-content {
          max-width: 66rem; } }
    .hero-section .education-grid .education-img {
      transform: rotate(45deg);
      overflow: hidden;
      border: 10px solid #020d2d;
      outline: 10px solid #0384c8;
      position: relative;
      border-radius: 0 0 0 7rem;
      right: -48px; }
      .hero-section .education-grid .education-img img {
        transform: rotate(-45deg) scale(1.05);
        width: 100%;
        height: 100%;
        object-fit: cover; }

.hero-section-one {
  height: 586px;
  overflow: hidden;
  position: relative;
  background: #001843;
  display: grid;
  place-content: center; }
  .hero-section-one .container {
    position: relative; }
  .hero-section-one .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.15;
    z-index: 0;
    overflow: hidden; }
    .hero-section-one .bg-video__content {
      height: 100%;
      width: 100%;
      object-fit: cover; }
    .hero-section-one .bg-video img {
      width: 100%;
      height: 100%; }
  .hero-section-one .education-content {
    text-align: center; }
    .hero-section-one .education-content .global-btn-two {
      margin-top: 3rem; }
    .hero-section-one .education-content .content-para {
      margin-top: 3rem; }
      @media only screen and (min-width: 992.1px) {
        .hero-section-one .education-content .content-para p {
          font-size: 2rem;
          padding-right: 9rem; } }
    .hero-section-one .education-content h6 {
      padding: 0.8rem 1.2rem;
      margin-top: 1.5rem;
      border-bottom: 1px solid #ffffff;
      border-top: 1px solid #ffffff;
      display: inline-block; }

.outreach article:not(:last-child) {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(0, 78, 163, 0.4); }

.outreach .video-wrapper {
  height: 35rem;
  width: calc(100% - 10rem);
  margin: auto; }
  .outreach .video-wrapper video {
    height: 100%;
    width: 100%; }
    .outreach .video-wrapper video[poster] {
      object-fit: cover; }

.literacy-crisis {
  background-image: url(../../images/cb103394dd53fd469acc30d922015a68b30830ba.webp);
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  padding: 10rem 0; }
  .literacy-crisis .content-wrapper h3 {
    color: #ffffff;
    margin-bottom: 4rem; }
  @media only screen and (min-width: 992.1px) {
    .literacy-crisis .content-wrapper h2 {
      text-align: left;
      margin-bottom: 2rem; } }

.latest-news {
  margin-top: 4rem; }
  @media only screen and (max-width: 992px) {
    .latest-news {
      margin-top: 2rem; } }
  @media only screen and (max-width: 768px) {
    .latest-news {
      margin-top: 3rem; } }
  .latest-news .news-arapper {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 1rem 0;
    text-align: center; }
    .latest-news .news-arapper::before {
      content: "";
      background: #0384c8;
      position: absolute;
      bottom: 0;
      width: 0;
      height: 3px;
      left: 0;
      transition: all 0.5s; }
    .latest-news .news-arapper:hover::before {
      width: 100%; }
    .latest-news .news-arapper .news-content .content-para {
      margin-bottom: 2rem;
      padding: 0 2rem; }
    .latest-news .news-arapper .news-img img {
      height: 251.48px;
      width: 100%;
      object-fit: cover;
      object-position: top;
      transition: 4.5s ease-in-out; }
    .latest-news .news-arapper a {
      margin-bottom: 2rem; }
  .latest-news .owl-nav {
    display: flex;
    justify-content: flex-end;
    gap: 7.5px; }
    .latest-news .owl-nav button {
      background: #004ea3;
      color: #fff;
      width: 35px;
      height: 35px;
      display: grid;
      place-content: center;
      margin-top: 30px;
      transition: all 0.4s; }
      .latest-news .owl-nav button i:hover {
        background: #0384c8; }
  .latest-news .news-img {
    overflow: hidden;
    margin-bottom: 2rem; }
    .latest-news .news-img:hover img {
      object-position: bottom;
      transform: scale(1.1); }
    .latest-news .news-img img {
      transition: 0.4s ease; }

.latest-books .single-portfolio {
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; }
  .latest-books .single-portfolio .portfolio-thumb {
    position: relative; }
    .latest-books .single-portfolio .portfolio-thumb img {
      width: 100%;
      height: auto;
      border-radius: 20px; }
  .latest-books .single-portfolio .portfoilo-overlay {
    position: absolute;
    top: 0;
    z-index: 2;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    -webkit-transition-timing-function: cubic-bezier(0.07, 0.72, 0.24, 1);
    transition-timing-function: cubic-bezier(0.07, 0.72, 0.24, 1);
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    background-image: -webkit-gradient(linear, left top, right top, from(#ff416c), to(#ff4b2b));
    background-image: linear-gradient(to right, #ff416c, #ff4b2b);
    border-radius: 15px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all ease 400ms;
    transition: all ease 400ms; }
  .latest-books .single-portfolio .portfolio-aling {
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
    padding: 30px; }
  .latest-books .single-portfolio:hover .portfoilo-overlay {
    visibility: visible;
    opacity: .90;
    border-radius: 20px; }
  .latest-books .single-portfolio:hover h4 a {
    color: #ffffff; }
  .latest-books .single-portfolio:hover p {
    color: #ffffff;
    margin-bottom: 2rem; }

.call-to-action {
  background: #0384c8;
  padding: 7rem 0; }
  @media only screen and (max-width: 992px) {
    .call-to-action {
      margin: 5rem 0; } }
  @media only screen and (max-width: 768px) {
    .call-to-action {
      margin: 3rem 0; } }
  .call-to-action .heading-secondary {
    color: #ffffff; }
    @media only screen and (min-width: 992.1px) {
      .call-to-action .heading-secondary {
        font-size: 3rem; } }

.our-partners .owl-carousel .owl-dots {
  display: flex;
  justify-content: center;
  height: 70px;
  align-items: center; }

.our-partners .owl-carousel .owl-dot {
  background: rgba(0, 78, 163, 0.5);
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%; }

.our-partners .owl-carousel .owl-dot.active {
  background: #004ea3; }

.latest-blog .blog-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem; }
  .latest-blog .blog-grid .blog-grid-item:first-child {
    grid-column: span 2; }
  .latest-blog .blog-grid .blog-grid-item .blog-pics {
    height: 400px;
    background-size: cover !important;
    margin-right: .5px;
    position: relative; }
    .latest-blog .blog-grid .blog-grid-item .blog-pics::before {
      content: "";
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.306), transparent);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .latest-blog .blog-grid .blog-grid-item .blog-pics .post-overlay {
      position: absolute;
      bottom: 15px;
      left: 15px;
      padding: 15px 15px 10px 15px;
      background-color: none;
      color: #E5DED4;
      font-size: 15px;
      width: 85%; }
      .latest-blog .blog-grid .blog-grid-item .blog-pics .post-overlay .featured-post {
        background: #004ea3;
        padding: 5px 10px;
        font-size: 22px;
        width: 178px;
        display: block;
        margin-bottom: 10px;
        text-align: center;
        color: #ffffff; }
      .latest-blog .blog-grid .blog-grid-item .blog-pics .post-overlay .heading-four {
        text-transform: none;
        font-size: 2.6rem;
        position: relative; }
        .latest-blog .blog-grid .blog-grid-item .blog-pics .post-overlay .heading-four::before {
          content: "";
          background-color: #fff;
          position: absolute;
          left: 0;
          bottom: -1rem;
          width: 9rem;
          height: 4px; }
        .latest-blog .blog-grid .blog-grid-item .blog-pics .post-overlay .heading-four a {
          color: #ffffff; }
      .latest-blog .blog-grid .blog-grid-item .blog-pics .post-overlay span.date {
        display: inline-block;
        background: #ffffff;
        color: #004ea3;
        font-size: 14px;
        padding: 5px 10px;
        margin-bottom: 6px;
        margin-top: 1rem; }
      .latest-blog .blog-grid .blog-grid-item .blog-pics .post-overlay .article-classification {
        font-size: 14px;
        font-weight: 700; }
        .latest-blog .blog-grid .blog-grid-item .blog-pics .post-overlay .article-classification a {
          color: #ffffff; }

.donation-form .btn-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem; }

.donation-form label {
  height: 7rem;
  display: grid;
  place-content: center;
  font-size: 2.4rem; }

.globaladvisory-committee {
  display: block; }
  .globaladvisory-committee .row {
    row-gap: 2rem; }
  .globaladvisory-committee .globaladvisory-person {
    display: block;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 2.9rem; }
    .globaladvisory-committee .globaladvisory-person:hover .globaladvisory-social a {
      opacity: 1;
      visibility: visible;
      transform: scale(1); }
    .globaladvisory-committee .globaladvisory-person .globaladvisory-image {
      background-image: linear-gradient(#004ea3, #0384c8);
      text-align: center;
      border-radius: 2.9rem 2.9rem 0 0;
      position: relative; }
      .globaladvisory-committee .globaladvisory-person .globaladvisory-image img {
        width: 16.5rem;
        height: 16.5rem;
        border-radius: 100%;
        border: 4px solid #0384c8;
        outline: 4px solid #ffffff;
        position: relative;
        object-fit: cover;
        object-position: center;
        top: 3rem; }
      .globaladvisory-committee .globaladvisory-person .globaladvisory-image .globaladvisory-social {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
        .globaladvisory-committee .globaladvisory-person .globaladvisory-image .globaladvisory-social a {
          color: #ffffff;
          font-size: 3rem;
          transform: scale(0);
          opacity: 0;
          visibility: hidden;
          transition: 0.4s ease; }
    .globaladvisory-committee .globaladvisory-person .globaladvisory-person-info {
      padding: 4.8rem 2rem 3rem; }
      .globaladvisory-committee .globaladvisory-person .globaladvisory-person-info .globaladvisory-info-container {
        position: relative; }
        @media screen and (min-width: 1400px) {
          .globaladvisory-committee .globaladvisory-person .globaladvisory-person-info .globaladvisory-info-container {
            height: 36rem; } }
        @media screen and (min-width: 1200px) and (max-width: 1399.9px) {
          .globaladvisory-committee .globaladvisory-person .globaladvisory-person-info .globaladvisory-info-container {
            height: 39rem; } }
        @media screen and (min-width: 992px) and (max-width: 1199.9px) {
          .globaladvisory-committee .globaladvisory-person .globaladvisory-person-info .globaladvisory-info-container {
            height: 55rem; } }
        @media screen and (max-width: 992px) and (min-width: 768px) {
          .globaladvisory-committee .globaladvisory-person .globaladvisory-person-info .globaladvisory-info-container {
            height: 38rem; } }
        @media screen and (max-width: 768px) {
          .globaladvisory-committee .globaladvisory-person .globaladvisory-person-info .globaladvisory-info-container {
            height: auto; } }
        .globaladvisory-committee .globaladvisory-person .globaladvisory-person-info .globaladvisory-info-container .heading-six {
          font-size: 26px;
          margin-bottom: 1rem; }
        .globaladvisory-committee .globaladvisory-person .globaladvisory-person-info .globaladvisory-info-container h5 {
          text-align: center;
          padding: 4px;
          border-top: 1px solid #0384c8;
          border-bottom: 1px solid #0384c8;
          color: #0384c8; }
        .globaladvisory-committee .globaladvisory-person .globaladvisory-person-info .globaladvisory-info-container .view-profile {
          text-align: center; }
          @media screen and (min-width: 768px) {
            .globaladvisory-committee .globaladvisory-person .globaladvisory-person-info .globaladvisory-info-container .view-profile {
              position: absolute;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
              width: 100%; } }

@media only screen and (min-width: 992.1px) {
  .edu-children h2 {
    text-align: left; } }

.edu-children .donate-wrapper {
  background: #0384c8;
  padding: 2rem;
  border-radius: 2rem;
  position: sticky;
  top: 15rem; }
  .edu-children .donate-wrapper p {
    color: #ffffff; }
  .edu-children .donate-wrapper .link-wrapper {
    margin-top: 3rem; }
  .edu-children .donate-wrapper hr {
    border-color: #ffffff; }

.devi-history {
  margin-top: 7rem;
  background: rgba(0, 78, 163, 0.1); }
  @media only screen and (max-width: 768px) {
    .devi-history {
      margin-top: 4rem; } }
  .devi-history__grid {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .devi-history__items:nth-child(1) {
    flex: 0 0 calc(20% - 8rem);
    max-width: calc(20% - 8rem);
    text-align: center; }
  .devi-history__items:nth-child(2) {
    flex: 0 0 calc(67.5% + 8rem);
    max-width: calc(67.5% + 8rem); }
  .devi-history__items .history-data {
    border-left: 2px solid #004ea3;
    padding-left: 8rem;
    position: relative;
    padding-bottom: 3rem; }
    .devi-history__items .history-data::after {
      content: "";
      position: absolute;
      top: 0;
      left: -15.5px;
      width: 20px;
      height: 20px;
      border-right: solid 15px transparent;
      border-left: solid 15px transparent;
      border-top: solid 15px #004ea3; }
  .devi-history__items .history-wrap h4 {
    font-size: 3rem;
    font-weight: 700;
    color: #004ea3;
    margin-bottom: 0; }

.impact-full {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRW8IOXgUSs_zAetMtsOsufmBvD7Iz4XuTCAXRCfLvGhQ&s);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  .impact-full::after {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; }
  .impact-full .container {
    position: relative;
    z-index: 1; }
  .impact-full .impact-card {
    padding: 3rem 2rem;
    border-top: 5px solid #0384c8;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    transition: 0.4s ease; }
    .impact-full .impact-card:hover {
      transform: translateY(-5px); }
    @media screen and (min-width: 1400px) {
      .impact-full .impact-card {
        min-height: 32.5rem; } }
    .impact-full .impact-card h4 {
      font-size: 3.6rem;
      color: #004ea3;
      font-weight: 700;
      text-align: center; }
    .impact-full .impact-card i {
      font-size: 7.2rem;
      color: #004ea3;
      margin: 2rem 0; }
  .impact-full .link-wrapper {
    margin-top: 4rem;
    text-align: center; }

.global-partners .partner-link {
  position: relative; }
  @media screen and (min-width: 290px) and (max-width: 768px) {
    .global-partners .partner-link {
      max-width: 25rem;
      margin: auto; } }
  .global-partners .partner-link a {
    display: block; }
  .global-partners .partner-link .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s; }
    .global-partners .partner-link .overlay i {
      color: #373435;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 4rem;
      width: 4rem;
      background: #ffffff;
      border-radius: 50%; }
  .global-partners .partner-link:hover .overlay {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1); }

.founder-area .sunitag img {
  width: 260px;
  border: 5px solid #004ea3;
  border-radius: 50%; }

@media only screen and (max-width: 992px) {
  .founder-area .myu-img {
    text-align: center;
    margin-bottom: 3rem; } }

@media only screen and (min-width: 992.1px) {
  .founder-area .sunitag {
    display: flex;
    align-items: center; }
    .founder-area .sunitag .myu-img {
      float: left;
      width: 290px; }
    .founder-area .sunitag .myu-cont {
      float: right;
      width: calc(100% - 290px); } }

.management-team .team-card .team-pic {
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid #004ea3;
  width: 25rem;
  height: 25rem;
  margin: 0 auto 3rem;
  position: relative; }
  @media screen and (max-width: 1199.9px) {
    .management-team .team-card .team-pic {
      width: 20rem;
      height: 20rem; } }
  .management-team .team-card .team-pic::before {
    content: "";
    background-image: radial-gradient(transparent, #06b24357);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    z-index: 1; }
  .management-team .team-card .team-pic:hover::before {
    opacity: 1;
    visibility: visible; }
  .management-team .team-card .team-pic:hover img {
    transform: scale(1.2); }
  .management-team .team-card .team-pic img {
    transition: all 0.5s;
    object-fit: cover;
    object-position: top;
    border-radius: 50%; }

.management-team .team-card .team-data {
  text-align: center; }
  .management-team .team-card .team-data h4 {
    margin-bottom: 1.5rem; }
  .management-team .team-card .team-data .heading-four {
    color: #373435;
    margin-bottom: 0.5rem; }
  .management-team .team-card .team-data p {
    color: #004ea3; }

.single-post-area .heading-secondary {
  text-transform: none;
  margin: 2rem 0;
  color: #004ea3; }

@media only screen and (min-width: 992.1px) {
  .single-post-area img.left-blog {
    width: 52rem;
    float: left;
    margin: 0 20px 10px 0px; } }

@media only screen and (max-width: 992px) {
  .single-post-area {
    max-width: 100%;
    height: auto; } }

.sign-up-single {
  background: rgba(3, 132, 200, 0.1); }
  .sign-up-single .single-blog-form {
    background: #ffffff; }
    .sign-up-single .single-blog-form .form-bg img {
      height: 100%;
      object-fit: cover;
      object-position: center; }
    .sign-up-single .single-blog-form .form-area {
      padding: 4rem; }
    @media only screen and (min-width: 992.1px) {
      .sign-up-single .single-blog-form {
        display: grid;
        grid-template-columns: repeat(2, 1fr); }
        .sign-up-single .single-blog-form .heading-primary {
          text-align: left;
          margin-bottom: 2rem;
          position: relative; }
          .sign-up-single .single-blog-form .heading-primary::before {
            content: "";
            background-color: #004ea3;
            position: absolute;
            left: 0;
            bottom: -1rem;
            width: 9rem;
            height: 4px; }
        .sign-up-single .single-blog-form p {
          font-size: 2rem; } }
  .sign-up-single form {
    padding: 5rem 3rem; }
    .sign-up-single form .form-control:focus {
      box-shadow: none;
      border: 1px solid #004ea3; }
    .sign-up-single form .form-check {
      display: inline-flex; }
    .sign-up-single form .form-check-label {
      margin-right: 1rem;
      margin-left: 1rem;
      font-size: 14px;
      font-weight: 400;
      color: #212529; }
    .sign-up-single form .intersetedIn {
      font-size: 14px;
      font-weight: 600;
      color: #212529;
      margin-bottom: 2rem; }
    .sign-up-single form input[type="submit"] {
      font-size: inherit;
      border-radius: 0;
      padding: 10px 24px; }
    .sign-up-single form table#CheckBoxList1 td {
      display: flex;
      align-items: baseline;
      gap: 10px; }
    .sign-up-single form table#CheckBoxList1 tr:not(:last-child) {
      margin-bottom: 5px;
      display: inline-block; }
    .sign-up-single form .form-group {
      position: relative;
      margin-bottom: 2rem; }
      .sign-up-single form .form-group.focused label.form-label, .sign-up-single form .form-group.inputted label.form-label {
        top: -7.5px;
        background: #fff;
        padding: 0 5px;
        left: 8px;
        font-size: 10px; }
    .sign-up-single form label.form-label {
      font-size: 14px;
      font-weight: 400;
      color: #212529;
      position: absolute;
      top: 10px;
      left: 15px;
      transition: all 0.5s;
      cursor: auto;
      pointer-events: none; }
    .sign-up-single form input {
      border-width: 1px;
      padding: 10px;
      border-color: #8c8c8c;
      border-radius: 5px;
      box-shadow: none;
      font-size: 13px;
      line-height: 20px;
      transition: all 0.2s linear; }
      .sign-up-single form input ~ span {
        position: absolute; }
    .sign-up-single form textarea {
      border-width: 1px;
      background-color: rgba(0, 0, 0, 0);
      padding: 10px;
      border-color: #8c8c8c;
      border-radius: 5px;
      box-shadow: none;
      font-size: 13px;
      line-height: 20px;
      transition: all 0.2s linear;
      resize: none; }

.related-blogs {
  margin-top: 4rem; }
  @media only screen and (max-width: 992px) {
    .related-blogs {
      margin-top: 2rem; } }
  @media only screen and (max-width: 768px) {
    .related-blogs {
      margin-top: 3rem; } }
  .related-blogs .news-arapper {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 1rem 0;
    text-align: center; }
    .related-blogs .news-arapper::before {
      content: "";
      background: #0384c8;
      position: absolute;
      bottom: 0;
      width: 0;
      height: 3px;
      left: 0;
      transition: all 0.5s; }
    .related-blogs .news-arapper:hover::before {
      width: 100%; }
    .related-blogs .news-arapper .heading-four {
      color: #004ea3;
      text-decoration: underline; }
    .related-blogs .news-arapper .news-content .content-para {
      margin-bottom: 2rem;
      padding: 0 2rem; }
    .related-blogs .news-arapper .news-img img {
      height: 251.48px;
      width: 100%;
      object-fit: cover;
      object-position: top;
      transition: 4.5s ease-in-out; }
    .related-blogs .news-arapper a {
      margin-bottom: 2rem; }
  .related-blogs .owl-nav {
    display: flex;
    justify-content: flex-end;
    gap: 7.5px; }
    .related-blogs .owl-nav button {
      background: #004ea3;
      color: #fff;
      width: 35px;
      height: 35px;
      display: grid;
      place-content: center;
      margin-top: 30px;
      transition: all 0.4s; }
      .related-blogs .owl-nav button i:hover {
        background: #0384c8; }
  .related-blogs .news-img {
    overflow: hidden;
    margin-bottom: 2rem; }
    .related-blogs .news-img:hover img {
      object-position: bottom;
      transform: scale(1.1); }
    .related-blogs .news-img img {
      transition: 0.4s ease; }
