$colorPrimary: #004ea3;
$colorSecondary: #0384c8;
$colorTertiary:#f6511d;
$colorBlack:#373435;
$colorWhite: #ffffff;
$copyrightBG:#001b24;
$footerBG:#00222d;


$transition: 0.4s ease;
$gradientOne:linear-gradient(#004ea3, #0384c8);
$boxShadowOne:rgba(149, 157, 165, 0.2) 0px 8px 24px;
