$colorPrimary: #004ea3;
$colorSecondary: #ff2e00;
$colorBlack:#373435;
$colorWhite: #ffffff;
$copyrightBG:#001b24;
$footerBG:#00222d;

$transition: 0.4s ease;
$gradientOne:linear-gradient(rgb(0, 187, 57) 0%, rgb(0, 59, 18) 100%);
$boxShadowOne:rgba(149, 157, 165, 0.2) 0px 8px 24px;
