@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

body {
  font-family: "Source Serif 4", serif;
  font-weight: 500;
  font-size: 16px;
  color: $colorBlack;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Serif 4", serif;
}

.heading-hero-primary {
  text-transform: uppercase;
  font-size: 72px;
  font-weight: 700;
  color: $colorPrimary;
  text-align: center;
  line-height: 1;
  @include respond(maxWidth992) {
    font-size: 48px;
  }

  @include respond(maxWidth768) {
    font-size: 36px;
  }

  @include respond(maxWidth575) {
    font-size: 30px;
  }
  @media screen and (min-width:1399.9px) {
    font-size: 67px;
  }
}

.heading-hero-secondary {
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 700;
  color: $colorWhite;
  text-align: center;
  line-height: 1;
  display: block;

  @include respond(maxWidth992) {
    font-size: 36px;
  }

  @include respond(maxWidth768) {
    font-size: 30px;
  }

  @include respond(maxWidth575) {
    font-size: 24px;
  }
}

.heading-primary {
  line-height: 1.25em;
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 700;
  color: $colorPrimary;
  span{
    color: $colorBlack;
  }
  @include respond(maxWidth992) {
    margin-bottom: 40px;
    font-size: 36px;
  }

  @include respond(maxWidth768) {
    margin-bottom: 30px;
    font-size: 30px;
  }

  @include respond(maxWidth575) {
    margin-bottom: 30px;
    font-size: 24px;
  }
}

.heading-secondary {
  line-height: 1.25em;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 700;
  color: $colorPrimary;
}

.heading-tertiary {
  line-height: 1.25em;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
  text-transform: capitalize;
  color: $colorPrimary;
}

.heading-four {
  line-height: 1.25em;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
  color: $colorWhite;
  text-transform: uppercase;
}

.heading-five {
  line-height: 1.25em;
  margin-bottom: 20px;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  color: $colorBlack;
}

.heading-six {
  line-height: 1.25em;
  margin-bottom: 20px;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  color: $colorBlack;
}

.content-para p,
.content-para li {
  font-size: 16px;
  line-height: 30px;
  font-weight: normal;

  &:last-child {
    margin-bottom: 0;
  }

  @include respond(maxWidth992) {
    font-size: 16px;
    line-height: 1.7;
  }

  @include respond(maxWidth768) {
    font-size: 14px;
    line-height: 1.7;
  }
}