.mr-bottom {
  margin-bottom: 7rem;

  @include respond(maxWidth992) {
    margin-bottom: 5rem;
  }

  @include respond(maxWidth768) {
    margin-bottom: 3rem;
  }
}

.mr-top {
  margin-top: 7rem;

  @include respond(maxWidth992) {
    margin-top: 5rem;
  }

  @include respond(maxWidth768) {
    margin-top: 3rem;
  }
}

.p-bottom {
  padding-bottom: 7rem;

  @include respond(maxWidth992) {
    padding-bottom: 5rem;
  }

  @include respond(maxWidth768) {
    padding-bottom: 3rem;
  }
}

.p-top {
  padding-top: 7rem;

  @include respond(maxWidth992) {
    padding-top: 5rem;
  }

  @include respond(maxWidth768) {
    padding-top: 3rem;
  }
}

.space-one {
  height: 40px;

  @include respond (phone-before) {
    height: 30px;
  }
}

.primary-list {
  @media screen and (max-width:575px) {
    padding: 0;
    margin-left: 4rem;
  }

  @include respond (small-desktop-after) {
    padding-left: 5rem;
  }

  li {
    position: relative;

    &:before {
      content: "";
      background-image: url("../images/check.png");
      background-size: cover;
      position: absolute;
      top: 15px;
      left: -30px;
      width: 20px;
      height: 20px;
      transform: translateY(-50%);
    }
  }
}

.inner-hero-section {
  .inner-section-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
  min-height: 30rem;
    .inner-section-grid-item{
      height: 100%;
      &:first-child{
        background: $colorPrimary;
        .heading-wrapper{
          margin-left: auto;
          height: 100%;
          @media screen and (min-width:992px) and (max-width:1199.9px) {
                max-width: 48rem;
             }
             @media screen and (min-width:1200px) and (max-width:1399.9px) {
                max-width: 57rem;
             }
             
             @media screen and (min-width:1400px) {
                max-width: 66rem;
             } 
             h1{
              font-size: 48px;
              font-weight: 700;
              color: rgba($colorWhite, $alpha: 1);
              text-transform: uppercase;
              text-align: left;
              display: inline-flex;
              align-items: center;
              height: 100%;
             }
        }
      }
      img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  @include respond (phone-before) {
    min-height: 250px;
  }


  &:hover {
    &::before {
      opacity: 0;
    }
  }

  .container {
    position: relative;
  }
}

.blockquote {
  padding: 1.5rem 3rem;
  font-size: 20px;
  border-radius: 0 0 0 0;
  border-left: 4px solid $colorWhite;
  color: rgba($colorWhite, $alpha: 1);
  display: flex;
  flex-direction: column;

  em {
    font-size: 1.6rem;
    text-align: right;
  }

  strong {
    display: block;
    margin-top: 2rem;
  }
}

.owl-nav {
  display: flex;
  justify-content: flex-end;
  gap: 5px;

  button {
    background: $colorPrimary !important;
    border: 1px solid $colorPrimary !important;
    height: 3rem;
    width: 3rem;

    i {
      color: rgba($colorWhite, $alpha: 1);
    }
  }
}

.external-link{
  color: $colorPrimary;
  font-size: 1.8rem;
  margin-top: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
}
.primary-listing{
    margin: 0;
    li{
      position: relative;
      list-style: none;
      &:not(:last-child){
        margin-bottom: 7.4px;
      }
      &::before{
        content: "";
    background: $colorPrimary;
    position: absolute;
    width: 13px;
    height: 13px;
    top: 5px;
    left: -25px;
    border-radius: 50%;
    outline: 1px solid $colorPrimary;
    border: 2px solid #ffffff;
      }
    }
  }