.welcome-now{
  figcaption {
font-family: "Open Sans", sans-serif;
line-height: 1.82;
  font-size: 16px;
@media screen and (min-width:576.1px) and (max-width:992px) {
  font-size: 15px;
}
@media screen and (max-width: 576px) {
  line-height: 26px;
  font-size: 15px;
}
}
figure {
  margin: 0;
  text-align: center;
  border: 2px solid #fff;
  outline: 3px solid $colorPrimary;
  border-radius: 10px 10px 0 0;
  border-bottom-width: thick;
  & ~ ul{
    outline: 3px solid #004ea3;
    background: $colorPrimary;
    border: 2px solid #fff;
    list-style: inside;
    color: $colorWhite;
    border-radius: 0 0 10px 10px;
    li{
      &:not(:last-child){
        padding-bottom: 1rem;
      }
    }
  }
  &.qr-code{
    img{
      @media screen and (min-width:768px) {
        height: 7rem;
      }
      @media screen and (max-width:767.9px) {
        height: 7rem;
      }
    }
  }
  figcaption{
      background: $colorPrimary;
      color: $colorWhite;
      text-transform: uppercase;
      text-align: center;
      padding: 5px 0;
      border-radius: 0;
      font-size: 12px;
  }
}
ul{
  padding: 15px 10px;
  list-style: none;
  margin-bottom: 0;
  li{
      font-size: 14px;
  }
}
.sunita__img img {
  height: 22rem;
  object-fit: cover;
  width: 22rem;
  object-position: top;
}
.link-one{
  @include respond (maxWidth992){
      margin-bottom: 3rem;
      text-align: center;
  }
}
}

.disruptive-cover {
  .content-para {
      padding-top: 2rem;
  }

  p {
      padding-bottom: 1rem;
  }

  h6 {
      padding-top: 1rem;
      font-size: 1.6rem;
      font-weight: 600;
      color: $colorPrimary;
  }

  .affiliate-grid {
      display: grid;
      grid-template-columns: 33.333% 33.333% 33.333%;
      margin-top: 5rem;

      @include respond (maxWidth575) {
          grid-template-columns: auto;
          margin-top: 2rem;

          &__items:nth-child(2) {
              padding: 2rem 0;
          }
      }

      &__items {
          width: 100%;

          @media screen and (min-width:576.1px) {
              &:not(:last-child) {
                  padding-right: 2rem;
              }
          }

          a {
              border: 2px solid $colorPrimary;
              border-radius: 30px;
              padding: 5px 40px;
              width: 100%;
              display: block;
              text-align: center;
              transition: all 0.5s;

              &:hover {
                  background: $colorPrimary;

                  img {
                      filter: brightness(1) invert(1) sepia(20) contrast(10);
                  }
              }

              img {
                  height: 25px;
                  width: 100%;
                  object-fit: contain;
                  transition: all 0.5s ease-in-out;
              }
          }
      }
  }
  .row{
    &:nth-child(even){
      @include respond (minWidth992){
        flex-direction: row-reverse;
      }
    }
  }
}
.sheila-testimonial{
  padding: 7rem 0;
  position: relative;
  &::before{
    content: "";
    background-image: url(../assets/image132-bg.png);
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    background-repeat: no-repeat;
    width: 100%;
    z-index: 0;
    background-attachment: fixed;
    background-position: 100%;
    background-size: contain;
    mix-blend-mode: overlay;
    opacity: 0.5;
  }
  .container{
    position: relative;
  }
  @include respond(maxWidth992) {
    padding: 5rem 0;
  }

  @include respond(maxWidth768) {
    padding: 3rem 0;
  }
  background-image: linear-gradient(90deg, $colorPrimary 0%, $colorSecondary 100%);
  .sheila-grid {
    display: grid;
    grid-template-columns: 33% 66%;
    .sheila-grid-item{
      &:first-child{
        box-shadow: 0px 40px 120px 0px rgba(0,0,0,.52);
        transform: scaleY(1.1);
        img{
          object-fit: cover;
          object-position: bottom;
          width: 100%;
          height: 100%;
        }
      }
      &:last-child{
        background: $colorWhite;
        padding: 3.5rem 5rem;
        box-shadow: 0px 40px 120px 0px rgba(0,0,0,.52);
      }
      em{
        text-align: right;
        display: block;
        strong{
          display: block;
          color: $colorPrimary;
        }
      }
    }
}
}