.donation-center{
    .df-wrapper{
    position: sticky;
    top: 9rem;
}
.heading-primary{
    @include respond (minWidth992){
        text-align: left;
    }
}
.content-para{
    background: rgba($colorPrimary, $alpha: 0.1);
    padding: 3rem;
}
.img-wrapper{
    overflow: hidden;
    img{
        transition: $transition;
        &:hover{
            transform: scale(1.05);
        }
    }
}
    .heading-secondary{
        padding-bottom: 1rem;
        border-bottom: 2px solid rgba($colorPrimary, $alpha: 1);
        margin-bottom: 3rem;
    }
    .donation-form{
    box-shadow: $boxShadowOne;
    padding-bottom: 5rem;
    @include respond (maxWidth768){
        padding-bottom: 3rem;
    }
    li.nav-item {
    flex: 0 0 50%;
    max-width: 50%;
    button{
        width: 100%;
        background: rgba($colorSecondary, $alpha: 1);
        color: $colorWhite;
        border-radius: 0;
        &.active{
            background: rgba($colorPrimary, $alpha: 1);
            position: relative;
            &::before{
                content: "";
                background: rgba($colorPrimary, $alpha: 1);
                position: absolute;
                bottom: -0.75rem;
                left: 50%;
                transform: translateX(-50%) rotate(45deg);
                width: 1.5rem;
                height: 1.5rem;
            }
        }
        span{
            text-align: center;
            display: block;
        }
    }
}
.tab-content{
    padding: 0 2.5rem;
}
.d-amount {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    justify-content: space-between;
    column-gap: 1rem; 
    input[type="radio"] {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    cursor: none;
    &:checked{
        & + label{
            background: $colorPrimary;
            color: $colorWhite;
        }
    }
    & ~ label{
        text-align: center;
        border: 2px solid $colorPrimary;
        display: block;
        padding: 1rem;
        border-radius: 1rem;
        font-weight: 600;
        cursor: pointer;
        background: rgba($colorPrimary, $alpha: 0.08);
        transition: $transition;
        i{
            font-size: 15px;
        }
    }
    
}
    & > *{
        width: calc(33.33333% - 1rem);
        @include respond (maxWidth992){
            width: calc(50% - 1rem);
        }
    }
    & > input{
        border: 2px solid $colorPrimary;
        border-radius: 10px;
        padding: 0 10px;
        position: relative;
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button{
        -webkit-appearance: none;
        }
    }
}
button.global-btn-two{
    font-size: 22px;
    text-transform: uppercase;
}
}
}