.global-devi {
    .map-grid {
      display: grid;
      grid-template-columns: 44% 56%;
      align-items: flex-end;
  
      .indiamapgrid {
        column-count: 3;
  
        p {
          display: flex;
          gap: 10px;
          line-height: 18px;
          align-items: baseline;
          font-size: 14px;
  
          span {
            display: block;
            aspect-ratio: 1;
            height: 14px;
            width: 14px;
            border-radius: 2px;
          }
        }
      }
    }
  
    .alfagrid {
      @media screen and (min-width:1400px) {
        column-count: 5;
      }
  
      @media screen and (min-width:992px) and (max-width:1399.9px) {
        column-count: 3;
      }
  
      @media screen and (min-width:575.9px) and (max-width:991.9px) {
        column-count: 3;
      }
  
      @media screen and (max-width:575.8px) {
        column-count: 2;
      }
  
      margin-top: 30px;
  
      p {
        display: flex;
        gap: 10px;
        line-height: 18px;
        align-items: baseline;
        font-size: 14px;
  
        span {
          display: block;
          aspect-ratio: 1;
          height: 14px;
          width: 14px;
          border-radius: 2px;
        }
      }
    }
  }
  .partnership-venue{
    .nav{
        margin-bottom: 0!important;
        .nav-item{
            width: calc(100% / 5);
            text-align: center;
            &:first-child{
                border-left: none;
            }
            &:last-child{
                border-right: none;
            }
            a{
                color: $colorWhite;
                background: $colorPrimary;
                border-radius: 0;
                border-top: none;
                border-bottom: none;
                border-left: 1px solid $colorWhite;
                border-right: 1px solid $colorWhite;
                &.active{
                    background: $colorSecondary;
                    position: relative;
                    &::before{
                        content: "";
                        background: $colorSecondary;
                        width: 2rem;
                        height: 2rem;
                        position: absolute;
                        bottom: -1rem;
                        left: 50%;
                        transform: translateX(-50%) rotate(45deg) scale(0.6);
                    }
                }
            }
        }
    }
    .tab-content{
        padding: 3rem;
        border: 1px solid rgba($colorBlack, $alpha: 0.4);
        border-top: none;
        article{
            h1{
                font-size: 9rem;
    font-weight: 800;
    color: $colorTertiary;
            }
            h4{
                padding: 5px;
                border-top: 1px solid $colorPrimary;
                border-bottom: 1px solid $colorPrimary;
                margin-bottom: 3rem;
            }
            .gallery-area{
                .gallery-grid{
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    height: auto;
                    gap: 20px;
                    &__item{
                        height: 100%;
                        img{
                            max-width: 100%;
                            height: 18rem;
                            width: 100%;
                            object-fit: cover;
                            object-position: center;
                            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                            transition: all 0.5s;
                        }
                        &:hover{
                            img{
                                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                            }
                        }
                    }
                }
            }
        }
    }
  }
  .trinada{
    @media screen and (min-width:140rem) {
      height: 40rem;
    }
    @include respond (minWidth768){
      .row{
        &:last-child{
          flex-direction: row-reverse;
        }
      }
    }
    @include respond (minWidth768){
      h2{
        text-align: left;
      }
      .img-wrapper{
        overflow: hidden;
        &:hover{
          img{
            transform: scale(1.2);
          }
        }
        img{
          height: 46rem;
        width: 100%;
        transition: $transition;
        object-fit: cover;
        object-position: center;
        }
      }
      p{
          font-size: 3.6rem;
        line-height: 1.27;
        font-weight: 300;
      }
    }
    .heading-secondary{
      color: $colorTertiary!important;
      display: inline-block;
      padding: 7px;
      border-top: 1px solid $colorTertiary;
      border-bottom: 1px solid $colorTertiary;
    }
  }
  .why-pilot{
    .row{
      row-gap: 2rem;
    }
    .card{
      box-shadow: $boxShadowOne;
      .icon{
        padding: 3rem 0;
        text-align: center;
        img{
          height: 10rem;
          margin: auto;
        }
      }
      .heading-secondary{
        color: $colorWhite;
        background: $colorPrimary;
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        padding: 1rem 2rem;
      }
      .content-para{
        padding: 2rem;
        @include respond (minWidth768){
          min-height: 121.59px;
        }
        @include respond (minWidth992){
          min-height: 18rem;
        }
        @include respond (minWidth1200){
          min-height: 152px;
        }
      }
    }
  }
  .baseline-assesment{
    @include respond (maxWidth992){
      .col-lg-1{
        display: none;
      }
    }
    h2{
      @include respond (minWidth768){
        text-align: left;
      }
    }
    @include respond (minWidth768){
      .revers{
        flex-direction: row-reverse;
        .content-para{
          padding-left: 2rem;
        }
      }
    }
    .heading-secondary{
      color: $colorTertiary;
      display: inline-block;
      padding: 7px;
      border-top: 1px solid;
      border-bottom: 1px solid $colorTertiary;
    }
  }
  .nepal-gallery{
    .nepal-gallery-grid{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap:5px;
      &__item{
        
      }
      img{
        height: 18rem;
  width: 100%;
  object-fit: cover;
  object-position: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: all 0.5s;
      }
    }
    .nepal-gallery-content{
      background-image: $gradientOne;
      padding: 1.5rem;
    }
  }
 .journey-support{
  background-image: $gradientOne;
  padding: 7rem 0;
  position: relative;
  &::before{
    content: "";
    background-image: url("https://iprogress.app/iversusilogincss/images/Collage1.jpg");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: left;
    background-size: cover;
    opacity: 0.13;
    mix-blend-mode: overlay;
  }
  .container{
    position: relative;
  }

  @include respond(maxWidth992) {
    padding: 5rem 0;
  }

  @include respond(maxWidth768) {
    padding: 3rem 0;
  }
  img{
    position: sticky;
    top: 1rem;
  }
  .content-para {
    li{
      color: $colorWhite;
      &::before{
        filter: brightness(0) invert(1);
      }
    }
  }
 }