.transform-one{
    position: relative;
    padding-bottom: 7rem;
    @include respond(maxWidth992) {
    padding-bottom: 5rem;
  }

  @include respond(maxWidth768) {
    padding-bottom: 3rem;
  }
    img{
        height: 45rem;
        width: 100%;
        object-fit: cover;
        object-position: top;
    }
    .container{
        position: relative;
        .heading-secondary{
            margin-bottom: 3rem;
        }
        .row{
            align-items: center;
            &:nth-child(even){
                @include respond (minWidth768){
                flex-direction: row-reverse;
            }
            }
        }
        .img-wrapper{
            @include respond (maxWidth768){
                max-height: 30rem;
                max-width: 30rem;
                aspect-ratio: 1;
                margin: 2rem auto 0;
                border-radius: 100%;
                border: 3px solid $colorWhite;
                outline: 2px solid rgba($colorPrimary, $alpha: 1);
                img{
                    border-radius: 100%;
                    height: 100%;
                    width:100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
            @include respond (minWidth768){
                width: 30rem;
                height: 30rem;
                margin: auto;
                border-radius: 100%;
                border: 3px solid $colorWhite;
                outline: 2px solid rgba($colorPrimary, $alpha: 1);
                img{
                    border-radius: 100%;
                    height: 100%;
                    width:100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
            @include respond (minWidth992){
                width: 33rem;
                height: 33rem;
            }
            @include respond (minWidth1200){
                width: 40rem;
                height: 40rem;
            }
        }
    }
}
.tranformation-form{
    padding: 7rem 0;
    @include respond(maxWidth992) {
    padding: 5rem 0;
  }

  @include respond(maxWidth768) {
    padding: 3rem 0;
  }
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  &::before{
    content: "";
    background: #000;
    opacity: 0.7;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  .container{
    position: relative;
  }
  .donation-form-wrapper {
    background: $colorWhite;
    padding: 5rem 4rem;
    border-radius: 1rem;
    h2{
        font-size: 34px;
        margin: 0 0 10px 0;
        line-height: 38px;
        font-weight: 800;
        color: rgba($colorPrimary, $alpha: 1);
    }
    p{
        font-size: 22px;
    line-height: 25px;
    }
    .donation-amounts{
        display: flex;
        flex-wrap: wrap;
        margin-top: 4rem;
        input[type="radio"]{
            position: absolute;
            visibility: hidden;
            & ~ label{
                width: 25%;
                border-top: 2px solid rgba($colorPrimary, $alpha: 1);
                border-bottom: 2px solid rgba($colorPrimary, $alpha: 1);
                border-right: 2px solid rgba($colorPrimary, $alpha: 1);
                text-align: center;
                padding: 5px 0;
                cursor: pointer;
                transition: $transition;
                i{
                    font-size: 15px;
                    color: rgba($colorPrimary, $alpha: 1);
                    margin-right: 5px;
                }
                &:hover{
                    background: rgba($colorPrimary, $alpha: 0.08);
                }
                &:nth-child(2){
                border-left: 2px solid rgba($colorPrimary, $alpha: 1);
                }
            }
            &:checked + label{
                background: rgba($colorPrimary, $alpha: 1);
                color: $colorWhite;
                i{
                    font-size: 15px;
                    color: rgba($colorWhite, $alpha: 1);
                }
            }
        }
    }
    .donation-options {
    display: grid;
    grid-template-columns: 80% 20%;
    margin: 0rem 0 4rem;
    input {
    border: 2px solid rgba($colorPrimary, $alpha: 1);
    border-top: none;
    padding: 5px 2rem;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button{
    -webkit-appearance: none;
    }
    &:focus{
        box-shadow: none;
        outline: none;
    }
}
select.selectpicker {
    background: rgba($colorPrimary, $alpha: 1);
    height: 100%;
    width: 100%;
    color: $colorWhite;
    padding: 0 2rem;
    border-color: rgba($colorPrimary, $alpha: 1);
}
}
}
}